<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QUERY</title>
        <meta charset="UTF-8">
        <meta name="description" content="QUERY">
        <meta name="keywords" content="Queens Public Library, QUERY">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="container">
            <header role="banner">
                <h1>Use Queens Public Library's QUERY Tool</h1>
            </header>
    
            <main role="main">
                <article>
                    <form id="add-new-library" action="/api/libraries/new" method="post">
                        <label id="new-library-name-label" for="name">Add a new community library</label>
                        <input name="name" id="new-library-name" placeholder="Queens Public Library at ...*" class="form-input" required>
                        <label id="new-library-address-label" for="address">Address</label>
                        <input name="address" id="new-library-address" placeholder="Street Address, City, State, ZIP Code*" class="form-input" required>
                        <input type="submit" id="submit" value="Add New Library">
                    </form>
                </article>
            </main>
    
            <footer role="contentinfo">
                <small>&copy; Copyright 2020, Andrew Hsu and John Pham</small>
            </footer>
        </div>
    </body>
</html>